<div class="page">
    <div class="contact-info-component">
        <div class="contact-info">
            <div class="address"><span>Address:&nbsp;</span>Andy Warholstraat 11</div>
            <div class="city"><span>City:&nbsp;</span>1328 LA Almere </div>
            <div class="phone"><span>Phone:&nbsp;</span>+31 (0)6 24526123</div>
            <button class="send-email"
                mat-raised-button><a href="mailto:jackoboes@gmail.com">send email</a></button>
        </div>

    </div>
</div>
