<div class="app-add-product">
    <div class="category-name">adding to: {{category.name}}</div>
    <div class="images-container">
        <div class="image-container"
            *ngFor="let imageUrl of (product$|async)?.imageUrls; let i = index">
            <div class="arrows">
                <mat-icon (click)="onMoveImage('left', i)">keyboard_arrow_up</mat-icon>
                <mat-icon (click)="onMoveImage('right', i)">keyboard_arrow_down</mat-icon>
            </div>
            <img class="image"
                [src]="imageUrl"
                alt=""
                (click)="onImage(imageUrl)">
            <button mat-mini-fab
                (click)="onDeleteImage(imageUrl, i)">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </div>
        <div *ngIf="isStoringImage"
            class="loading">Loading...</div>
        <div class="image-interface"
            *ngIf="editmode">
            <input #fileInput
                style="display: none;"
                type="file"
                (change)="onImageInputChange($event)">
            <button mat-raised-button
                color="primary"
                (click)="fileInput.click()">add image
            </button>
        </div>
    </div>

    <form [formGroup]="form">

        <mat-checkbox class="hidden"
            formControlName="hidden">Hidden from catalog</mat-checkbox>


        <div class="general">
            <div class="title">general</div>
            <div class="form-field">
                <label>product id</label>
                <input type=""
                    readonly
                    formControlName="id"
                    matInput>
            </div>


            <div class="form-field">
                <label>name</label>
                <input type="text"
                    formControlName="name"
                    matInput>

            </div>

            <div class="description">
                <label>description</label>
                <textarea type="text"
                    formControlName="description"
                    matInput
                    rows="15"></textarea>

            </div>

            <div class="form-field">

                <label>color</label>
                <input type="text"
                    formControlName="color"
                    matInput>
            </div>
            <div class="form-field">
                <label>material</label>
                <input type="text"
                    formControlName="material"
                    matInput>

            </div>
            <div class="form-field">
                <label>weight</label>
                <input type="number"
                    readonly
                    formControlName="weight"
                    matInput>

            </div>
            <div class="form-field">
                <label>price</label>
                <input type="number"
                    step="0.01"
                    formControlName="price"
                    matInput>
            </div>
        </div>


        <div class="bass"
            *ngIf="editmode">
            <div class="title">bass</div>


            <div class="form-field">
                <label>size</label>
                <input type="text"
                    formControlName="size"
                    matInput>
            </div>

            <div class="form-field">
                <label>model</label>
                <input type="text"
                    formControlName="model"
                    matInput>

            </div>
            <div class="form-field">
                <label>scale</label>
                <input type="text"
                    formControlName="scale"
                    matInput>
            </div>
            <div class="form-field">

                <label>type of wood</label>
                <input type="text"
                    formControlName="typeOfWood"
                    matInput>
            </div>
            <div class="form-field">

                <label>year built</label>
                <input type="text"
                    formControlName="yearBuilt"
                    matInput>
            </div>
            <div class="form-field">

                <label>backboard</label>
                <input type="text"
                    formControlName="backboard"
                    matInput>
            </div>
            <div class="form-field">

                <label>bridge</label>
                <input type="number"
                    step="0.1"
                    formControlName="bridge"
                    matInput>
            </div>
            <div class="form-field">

                <label>mensuur</label>
                <input type="number"
                    step="0.1"
                    formControlName="mensuur"
                    matInput>
            </div>
            <div class="form-field">
                <label>string length</label>
                <input type="number"
                    step="0.1"
                    formControlName="stringLength"
                    matInput>
            </div>
            <div class="form-field">

                <label>top</label>
                <input type="number"
                    step="0.1"
                    formControlName="top"
                    matInput>
            </div>
            <div class="form-field">

                <label>middle</label>
                <input type="number"
                    step="0.1"
                    formControlName="middle"
                    matInput>
            </div>
            <div class="form-field">

                <label>bottom</label>
                <input type="number"
                    step="0.1"
                    formControlName="bottom"
                    matInput>
            </div>
            <div class="form-field">

                <label>depth</label>
                <input type="number"
                    step="0.1"
                    formControlName="depth"
                    matInput>
            </div>
            <div class="form-field">

                <label>length back plate</label>
                <input type="number"
                    step="0.1"
                    formControlName="lengthBackPlate"
                    matInput>
            </div>
        </div>
        <div class="right">
            <div class="amplifiers"
                *ngIf="editmode">
                <div class="title">amplifiers</div>
                <div class="form-field">
                    <label>type</label>
                    <input type="text"
                        formControlName="type"
                        matInput>
                </div>
                <div class="form-field">

                    <label>output</label>
                    <input type="number"
                        formControlName="output"
                        matInput>
                </div>
            </div>


            <div class="buttons">
                <button *ngIf="!editmode"
                    [ngStyle]="{'border': formChanged?'3px solid red':''}"
                    mat-raised-button
                    color="primary"
                    (click)="onAddProduct()">add to: {{category.name}}</button>
                <button *ngIf="editmode"
                    [ngStyle]="{'border': formChanged?'3px solid red':''}"
                    style="border: 3px solid red;"
                    mat-raised-button
                    color="primary"
                    (click)="onUpdateProduct()">update {{product.name}}</button>
                <button mat-raised-button
                    color="primary"
                    (click)="onCancel()">back to {{category.name}}</button>
            </div>

        </div>


    </form>
    <div class="filler"></div>
</div>
