mat-accordion {
    mat-expansion-panel {
        mat-expansion-panel-header {
            display: flex;
            justify-content: space-between;
            mat-panel-title {
                background-color: red;
            }
            mat-panel-description {
                img {
                    max-width: 3rem;
                }
            }
        }
    }
}
