<div class="page">
    <div class="spinner-container"
        *ngIf="isLoading">
        <div class="title">
            loading products
        </div>
        <mat-spinner></mat-spinner>
    </div>
    <div class="products"
        *ngIf="products$|async">
        <div class="category">
            <div class="category-name title">{{(category$|async)?.name}}</div>
            <ul class="products-list">
                <li class="products-list-item"
                    *ngFor="let product of products$|async">
                    <div *ngIf="!(product.hidden)"
                        class="name"
                        (click)="onProductSelected(product.id)">{{product.name}}</div>

                </li>
            </ul>
        </div>
    </div>
</div>
