<div class="page">
    <div class="category-name">{{(category$|async)?.name}}</div>
    <div class="products-list">
        <div class="products-list-item"
            *ngFor="let product of products$|async">
            <div class="name"
                (click)="onProductSelected(product.id)">{{product.name}}</div>

        </div>
    </div>
</div>

<!-- <mat-accordion>
    <mat-expansion-panel *ngFor="let product of products$|async">
        <mat-expansion-panel-header [collapsedHeight]="'190px'"
            [expandedHeight]="'190px'"
            *ngIf="!product.hidden"
            (click)="onProductSelected(product.id)">
            <mat-panel-title>
                {{product.name}}
            </mat-panel-title>

            <mat-panel-description>
                <img *ngIf="product.imageUrls && product.imageUrls.length"
                    [src]="product.imageUrls[0]">
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="product-content">

            <div class="image-container"
                *ngIf="(product$|async) &&
                        product.imageUrls &&
                        product.imageUrls.length> 0">
                <img *ngIf="(product$|async) &&(product$|async)?.imageUrls"
                    [src]="(product$|async)?.imageUrls[imageIndex]"
                    alt="no image available"
                    (click)="onImageSelected($event)">

            </div>
            <div class="buttons"
                *ngIf="product && product.imageUrls && product.imageUrls.length >0">
                <button class="button-back"
                    *ngIf="imageIndex > 0"
                    mat-icon-button
                    (click)="moveImage('+')">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <button class="button-forward"
                    *ngIf="product && product.imageUrls &&   (imageIndex < product.imageUrls.length -1)"
                    mat-icon-button
                    (click)="moveImage('-')">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>

            <div class="general">

                <div class="name">{{product.name}}</div>
                <div class="description"
                    *ngIf="product.description">{{product.description}}</div>


                <div class="price"
                    *ngIf="product.price"><span>price:</span>{{product.price|currency:"EUR"}}</div>
            </div>
            <div class="details">

                <div class="title">details</div>
                <div *ngIf="product.size"
                    class="scale"><span>size:</span>{{product.size}}</div>
                <div *ngIf="product.model"
                    class="scale"><span>model:</span>{{product.model}}</div>
                <div *ngIf="product.scale"
                    class="scale"><span>scale:</span>{{product.scale}}</div>
                <div *ngIf="product.typeOfWood"
                    class="typeOfWood"><span>type of wood:</span>{{product.typeOfWood}}</div>
                <div *ngIf="product.origin"
                    class="origin"><span>origin:</span>{{product.origin}}</div>
                <div *ngIf="product.yearBuilt"
                    class="yearBuilt"><span>year built:</span>{{product.yearBuilt}}</div>
                <div *ngIf="product.backboard"
                    class="backboard"><span>back board:</span>{{product.backboard}}</div>

                <div *ngIf="product.bridge"
                    class="color"><span>bridge:</span>{{product.bridge}}</div>

                <div *ngIf="product.color"
                    class="bridge"><span>color:</span>{{product.color}}</div>
                <div *ngIf="product.mensuur"
                    class="mensuur"><span>mensuur:</span>{{product.mensuur}}</div>
                <div *ngIf="product.stringLength"
                    class="stringLength"><span>string length:</span>{{product.stringlength}}</div>
                <div *ngIf="product.top"
                    class="top"><span>top:</span>{{product.top}}</div>
                <div *ngIf="product.middle"
                    class="middle"><span>middle:</span>{{product.middle}}</div>
                <div *ngIf="product.bottom"
                    class="bottom"><span>bottom:</span>{{product.bottom}}</div>
                <div *ngIf="product.depth"
                    class="depth"><span>depth:</span>{{product.depth}}</div>
                <div *ngIf="product.lengthBackplate"
                    class="lengthBackplate"><span>length back plate</span>{{product.lengthBackplate}}</div>
                <div *ngIf="product.weight"
                    class="weight"><span>weight:</span>{{product.weight}}</div>
                <div *ngIf="product.material"
                    class="material"><span>material</span>{{product.material}}</div>
            </div>

            <div class="amp">

                <div *ngIf="product.type"
                    class="type"><span>type:</span>{{product.type}}</div>
                <div *ngIf="product.output"
                    class="output"><span>output:</span>{{product.output}}</div>
            </div>
            <div class="admin">
                <div class="id"><span>product id:</span>{{product.id}}</div>
            </div>

        </div>
    </mat-expansion-panel>
</mat-accordion> -->

<!--
<pre>

    {{products$|async|json}}
</pre> -->
