.page {
    .item-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "button button"
            "general bass"
            "general amplifier"
            // "general bass amplifier"
;
        gap: 1rem;
        grid-template-rows: auto 1fr;
        grid-auto-flow: dense;
        // text-align: center;
        button {
            grid-area: button;
        }
        app-general,
        app-bass,
        app-amplifier {
            border: 1px solid gray;
            padding: 1rem;
        }

        app-general {
            grid-area: general;
        }
        app-bass {
            grid-area: bass;
        }
        app-amplifier {
            grid-area: amplifier;
        }
    }
}
