.app-side-nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .close-button-container {
        display: flex;
        justify-content: end;
        .close {
            border: 1px solid gray;
        }
    }
}
