<div class="images">
    <div class="img-container"
        *ngFor="let path of imagePaths">
        <img [src]="path"
            alt="">
    </div>
    <img src=""
        alt="">
</div>
<div class="page">
    <div class="header">

        Atelier voor Contrabas is the professionals choice for all possible repairs, small or big.
    </div>
    <div class="sub-header">
        We've done about every repair possible, but the main activity is:

    </div>
    <ul>
        <li>
            setting up basses
        </li>
        <li>
            bridges
        </li>
        <li>
            (new) fingerboards
        </li>
        <li>
            adjusting neck size
        </li>
        <li>
            improving playability
        </li>
        <li>
            improving the sound
        </li>
    </ul>
    <div class="bottom-content">
        Fair prices <br>
        Mail to find out all possibillities we offer.
    </div>

</div>
