<mat-toolbar>
    <button mat-icon-button
        class="menu"
        (click)="onToggleSidenav()"><a>
            <mat-icon>menu</mat-icon>
        </a></button>
    <div class="version">V13</div>

    <div class="wide-screen-only">
        <a routerLink="home"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">home
        </a>
        <a routerLink="atelier"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">atelier
        </a>
        <a routerLink="catalog"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">catalog
        </a>
        <a routerLink="contact"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">contact
        </a>

        <a *ngIf="(user$|async)"
            routerLink="products"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">products
        </a>
        <a *ngIf="(user$|async)"
            routerLink="ngrx"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">ngrx
        </a>
        <a *ngIf="!(user$|async)"
            (click)="onLogIn()">
            <!-- login -->
            <mat-icon>login</mat-icon>
        </a>
        <a *ngIf="(user$|async)"
            (click)="onLogOut()">
            <mat-icon>logout</mat-icon>
            <!-- logout -->
        </a>
    </div>

</mat-toolbar>
