mat-toolbar {
    display: flex;
    justify-content: space-between;
    .toolbar-list-left {
        display: flex;
        gap: 1rem;
        .toolbar-list-item {
        }
    }
    .toolbar-list-right {
        display: flex;
        gap: 1rem;
        .toolbar-list-item {
            span {
                cursor: pointer;
            }
        }
    }
}
.link-active {
    background-color: aquamarine;
}
