mat-toolbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--primary);
    .wide-screen-only {
        // border: 1px solid black;
        align-items: center;
        display: flex;
        gap: 1rem;
        a {
            padding: 0 0.5rem;
            border-radius: 3px;
            color: var(--black);
            cursor: pointer;
            // border: 1px solid black;
            mat-icon {
                display: flex;
                align-items: center;
            }
        }
        .link-active {
            background-color: var(--black);
            color: var(--primary);
        }
    }
}
