<mat-toolbar>
    <ul class="toolbar-list-left">
        <li class="toolbar-list-item"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}"><a routerLink="home">home</a></li>
        <li class="toolbar-list-item"><a routerLinkActive="link-active"
                routerLink="contact"
                [routerLinkActiveOptions]="{exact:true}">contact</a></li>
        <li class="toolbar-list-item"><a routerLinkActive="link-active"
                routerLink="atelier"
                [routerLinkActiveOptions]="{exact:true}">atelier</a></li>
        <li *ngIf="(user$|async)"
            class="toolbar-list-item"><a routerLinkActive="link-active"
                routerLink="products"
                [routerLinkActiveOptions]="{exact:true}">products</a></li>
    </ul>

    <ul class="toolbar-list-center">
        <li *ngIf="user$|async">{{(user$|async).email}}</li>
        <li class="store"
            routerLink="store"></li><a routerLink="store"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">store</a>
    </ul>

    <ul class="toolbar-list-right">
        <li *ngIf="!(user$|async)"
            class="toolbar-list-item"
            (click)="onLogIn()">
            <span class="material-icons">login</span>
        </li>
        <li *ngIf="(user$|async)"
            class="toolbar-list-item"
            (click)="onLogOut()">
            <span class="material-icons">logout</span>
        </li>
    </ul>
</mat-toolbar>
