<div class="background-image">
    <div class="credentials">
        <div class="title">Atelier voor Contrabas</div>
        <div class="name">Lucas suringar</div>
    </div>
</div>
<div class="page">
    <div class="top-content">
        <div class="header">
            Since it's foundation in 1985, the Atelier voor Contrabas has been a notion for Dutch bass players.
        </div>
        <div class="content">
            The owner Lucas Suringar has developed as THE authority in the field of Double Basses.
            The Atelier has been the place for buying, repair and advice for professionals and amateurs alike for several decades.
        </div>
        <div class="news">
            <div class="header">
                Double Bass News
            </div>
            <div class="content">
                <div class="content">
                    not all new and newly restaurated basses are imported in the website, please contact me for further information.
                </div>
                <div class="date">
                    06/06/2021
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="images">
        <img class="img-1"
            src="../../../../assets/images/lucas1.jpg"
            alt="">
        <img class="img-2"
            src="../../../../assets/images/lucas3.jpg"
            alt="">
        <img class="img-3"
            src="../../../../assets/images/lucas2.jpg"
            alt="">
    </div>
    <div class="bottom-content">
        It is my aim to always have a good stock of Double Basses, both old and new, in different price categories, and in different sizes, in order to have something interesting for everybody.
        <ul>
            <li>

                - The old basses are almost all from Europe, and most of them are restored by my own hands, or a very skilled repairman who helps me out when things get too hectic.
            </li>
            <li>

                - The cheaper basses, in the range from 650 to 1600 euros are almost all from the Far East, they offer a price/quality factor that cannot be beaten.
            </li>
            <li>

                - At around 2000 euros the East European basses come in, there are great basses being build in Hungary, Romania and the Czech Republic, which you are always welcome to try out in my showroom.
            </li>
        </ul>
    </div>

</div>
