.secondary-item-form-container {
    form {
        .hidden {
            // border: 1px solid red;
            display: grid;
            grid-template-columns: 8rem 1fr;
            label {
                // border: 1px solid blue;
            }
            input[type="checkbox"] {
                margin: 0;

                width: 1.15em;
                // width: 1.5rem;
            }
        }
    }
}
