<div class="secondary-item-form-container">
    <div class="title">general</div>
    <form [formGroup]="form">
        <div class="form-field hidden">
            <label for="hidden">hidden</label>
            <input type="checkbox"
                formControlName="hidden">
        </div>
        <div class="form-field">
            <label for="id">id</label>
            <input type="text"
                readonly
                formControlName="id">
        </div>
        <div class="form-field">
            <label for="name">name</label>
            <input type="text"
                formControlName="name">
        </div>
        <div class="form-field"
            style="display: none;">
            <label for="name">image urls</label>
            <input readonly
                type="text"
                formControlName="imageUrls">
        </div>
        <div class="form-field">
            <label for="description">description</label>
            <textarea type="text"
                formControlName="description"></textarea>
        </div>
        <div class="form-field">
            <label for="price">price</label>
            <input type="number"
                formControlName="price">
        </div>

    </form>
</div>
