<div class="secondary-item-form-container">
    <div class="title">bass</div>
    <form [formGroup]="form">
        <div class="form-field">
            <label for="scale">size</label>
            <input type="text"
                name="size"
                formControlName="size">
        </div>
        <div class="form-field">
            <label for="model">model</label>
            <input type="text"
                name="model"
                formControlName="model">
        </div>
        <div class="form-field">
            <label for="scale">scale</label>
            <input type="text"
                name="scale"
                formControlName="scale">
        </div>
        <div class="form-field">
            <label for="typeOfWood">type of wood</label>
            <input type="text"
                name="typeOfWood"
                formControlName="typeOfWood">
        </div>
        <div class="form-field">
            <label for="scale">origin</label>
            <input type="text"
                name="origin"
                formControlName="origin">
        </div>
        <div class="form-field">
            <label for="scale">backboard</label>
            <input type="text"
                name="backboard"
                formControlName="backboard">
        </div>
        <div class="form-field">
            <label for="scale">color</label>
            <input type="text"
                name="color"
                formControlName="color">
        </div>
        <div class="form-field">
            <label for="scale">year built</label>
            <input type="number"
                name="yearBuilt"
                formControlName="yearBuilt">
        </div>
        <div class="form-field">
            <label for="scale">bridge</label>
            <input type="number"
                name="bridge"
                formControlName="bridge">
        </div>
        <div class="form-field">
            <label for="scale">mensuur</label>
            <input type="number"
                name="mensuur"
                formControlName="mensuur">
        </div>
    </form>
</div>
