<div class="page">
    <div class="title"
        *ngIf="!editmode">adding to {{(category$|async)?.name}}</div>
    <div class="title"
        *ngIf="editmode">updating {{(category$|async)?.name}}&nbsp;/&nbsp;{{(product$|async)?.name}}</div>
    <form class="item-form"
        (ngSubmit)="onSubmit($event)">
        <app-general></app-general>
        <app-bass></app-bass>
        <app-amplifier></app-amplifier>
        <button mat-raised-button
            class="add-button"
            [disabled]="form.invalid"
            color="primary"
            type="submit">{{editmode ? 'update' :'add'}}
        </button>
    </form>
    <button class="cancel-button"
        type="button"
        mat-raised-button
        (click)="onCancel()">Cancel</button>
    <app-item-images *ngIf="editmode"
        [imageUrls]="imageUrls"></app-item-images>
</div>
