/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: lightgray;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
li {
    list-style: none;
}
button {
    text-transform: uppercase;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
}
.page {
    padding: 3rem;
}
.nested-component {
    padding: 1rem;
    border: 1px solid darkgray;
}
.mat-input-placeholder {
    color: red; /* Any color */
    font-style: italic;
}
