<form [formGroup]="form">
    <mat-form-field>
        <input type="text"
            readonly="true"
            matInput
            formControlName="id">
    </mat-form-field>
    <mat-form-field>
        <input type="text"
            matInput
            formControlName="name">
    </mat-form-field>
    <button mat-raised-button
        color="primary"
        (click)="onAddCategory()"
        [disabled]="form.invalid">{{editmode ? 'update category' :'add category'}}</button>
    <button mat-raised-button
        (click)="onCancel()">cancel</button>
</form>
