<form [formGroup]="form">
    <mat-form-field>
        <input type="text"
            readonly="true"
            matInput
            formControlName="id">
    </mat-form-field>
    <mat-form-field>
        <input type="text"
            matInput
            formControlName="name">
    </mat-form-field>
    <div class="orientation-info">
        In order for the image carousel to work properly, select the appropriate orientation for the optimal presentation of the product.
    </div>
    <mat-form-field>
        <mat-select formControlName="orientation">
            <mat-option [value]="orientation"
                *ngFor="let orientation of orientations">{{orientation}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button
        color="primary"
        (click)="onAddCategory()"
        [disabled]="form.invalid">{{editmode ? 'update category' :'add category'}}</button>
    <button mat-raised-button
        (click)="onCancel()">cancel</button>
</form>
