<div class="nested-component products-component">
    <div class="loading content"
        *ngIf="isLoading">
        <mat-spinner></mat-spinner>
        <div class="title">loading products</div>
    </div>
    <div class="title">{{title}}</div>
    <div *ngIf="(category$|async)?.name"
        class="category-name title">{{(category$|async)?.name}}</div>
    <div *ngIf="!(category$|async)?.name"
        class="category-name title">select category</div>

    <div class="select-category title"
        *ngIf="!(products$|async)?.length">no products yet</div>
    <ul class="products-list">
        <div class="products-list-item"
            *ngFor="let product of products$|async">
            <div class="left">
                <button color="primary"
                    mat-mini-fab
                    (click)="onEdit(product)">
                    <mat-icon fontIcon="edit"></mat-icon>
                    <!-- <span class="mat-icon">edit</span> -->
                </button>
                <button mat-mini-fab
                    color="warn"
                    (click)="onDelete(product)">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
                <div class="name">{{product.name}}</div>
            </div>
            <div class="right">
                <img [src]="product.imageUrl"
                    alt="">
            </div>
            <div class="hidden"
                *ngIf="product.hidden">
                <mat-icon>visibility_off</mat-icon>
            </div>
        </div>
    </ul>
    <button *ngIf="category"
        mat-raised-button
        color="primary"
        (click)="onAddProduct(category.id)">add to {{(category$|async)?.name}}</button>
</div>
